.appContainer {
  width: 100%;
}
.visible-wrapper {
  display: flex;
  justify-content: space-around;
}
.view-selector {
  margin-right: 20px !important;
}
.nav-buttons {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
}
.heading {
  margin-bottom: 50px !important;
  text-align: center;
}
